<h3>Elections <%= @year %> in <%= @province_name %></h3>

<div class="table_of_results">
	<table>
		<tr>
			<td>blank votes</td>
			<td>5294</td>
			<td>3%</td>
		</tr>
		<tr>
			<td>null votes</td>
			<td>5252</td>
			<td>2.8%</td>
		</tr>
		<tr>
			<td><b>total votes</b></td>
			<td>514034 (69,91%)</td>
			<td>735201 (80%)</td>
			<td>918072 (population)</td>
		</tr>
	</table>

	</br>

</div>

<script>
	var results_json = <%= @results_json.to_s.html_safe %>

	var Census = Backbone.Model.extend();
	var census = new Census({
		"province_name": results_json.province_name,
		"province_id": results_json.province_id,
		"year": results_json.year,
		"population": results_json.population,
		"electoral_census": results_json.electoral_census,
		"province_seats": results_json.province_seats,
		"votes_blank": results_json.votes_blank,
		"votes_null": results_json.votes_null,
		"total_voters": results_json.total_voters,
	});

	console.log(census);
</script>

<%= stylesheet_link_tag 'province/province' %>
<%= javascript_include_tag "templates/province/dhont_table" %>
<%= javascript_include_tag "province/province" %>
