<h3>Elecciones <select id="year_selector"><%= options_for_select(@years, @year) %></select></h3>

<div id="participation_bar"><svg></svg></div>

<div id="general_results"></div>


<script>

	var results_json = <%= @results_json.to_s.html_safe %>

	var participation_numbers = [
		{name: 'población', color: "rgb(215,228,216)", amount: results_json.population},
		{name: 'censo', color: "rgb(186,214,198)", figure:results_json.electoral_census_total_percent, amount: results_json.electoral_census_total},
		{name: 'votantes', color: "rgb(122,170,169)", figure:results_json.total_voters_percent, amount: results_json.total_voters},
		{name: 'en blanco', color: "rgb(33,120,117)", amount: results_json.votes_blank},
		{name: 'nulos', color: "rgb(56,92,119)", amount: results_json.votes_null},
	];

</script>

<%= stylesheet_link_tag 'general' %>
<%= javascript_include_tag "templates/general/results_table" %>
<%= javascript_include_tag "common/participation_bar" %>
<%= javascript_include_tag "common/tabulate_json" %>
<%= javascript_include_tag "general/general" %>
